<html>
<head>
    <script>
        const billingCodeFields = ["code", "description", "cost", "medical_branch"];
        
        function updateComment(formEvent) {
            const code = new FormData(formEvent).get('code');
            const content = new FormData(formEvent).get('comment');
            if(!code || !content) return false;
            
            fetch(`api/billing-code/${code}/comment`, {
                method: 'PUT', 
                body: JSON.stringify({content}), 
                headers: {'Content-Type': 'application/json'}
            }).then(async (res) => {
                alert(res.ok 
                    ? 'Success!'
                    : (res.status === 404 ? "Billing code not found" : `Error: ${res.status}`));
            });
            return false;
        }

        function lookupCode(formEvent) {
            const fullCodeRegex = /^\d{5}\.\d+$/;
            const partialCodeRegex = /^\d+?$/;
            const code = new FormData(formEvent).get('code');
            if(!code) return false;

            const messageElement = document.getElementById("lookupCode-message");
            const fullCode = fullCodeRegex.exec(code);
            if(fullCode) {
                fetch(`api/billing-code/${code}`).then(async (res) => {
                    messageElement.replaceChildren(res.ok 
                        ? buildBillingCodeElement(await res.json())
                        : (res.status === 404 ? "Billing code not found" : `Error: ${res.status}`));
                });
                return false;
            } 
        
            const partialCode = partialCodeRegex.exec(code);
            if(partialCode) {
                fetch(`api/billing-code/search?partial_code=${partialCode}`).then(async (res) => {
                        messageElement.replaceChildren(res.ok 
                            ? buildSearchResultsElement(await res.json())
                            : `Error: ${res.status}`);
                    });
            } else {
                messageElement.replaceChildren(`Error, invalid code "${code}". Must be in the format XXXXX or XXXXX.X`);
            }

            return false;
        }

        function buildBillingCodeElement(billingCode) {
            const billingCodeElement = document.createElement('div');
            billingCodeElement.innerHTML = `
                <div>Billing Code: ${billingCode["code"]}</div>
                <div>Medical Branch: ${billingCode["medical_branch"]}</div>
                <div>Description: ${billingCode["description"]}</div>
                <div>Cost: ${billingCode["cost"]}</div>
                <form onsubmit="return updateComment(this);">
                    <label for="comment">Comment: </label>
                    <input type="hidden" name="code" value="${billingCode["code"]}" />
                    <input type="text" name="comment" value="${billingCode["comment"]}" required> <button type="submit">Submit</button>
                </form>
            `;
            return billingCodeElement;
        }

        function buildSearchResultsElement(results) {
            const searchResultsElement = document.createElement('div');
            searchResultsElement.innerHTML =  `
                <div><i>Search Results: </i></div>
                <br>
                <br>
            `;
            for (const result of results){
                searchResultsElement.appendChild(
                    buildBillingCodeElement(result), 
                );
                searchResultsElement.appendChild( 
                    document.createElement('br')
                );
            }
            return searchResultsElement;
        }
    </script>
</head>
<body>
    <form onsubmit="return lookupCode(this);">
        <label for="code">Enter a billing code:</label>
        <input type="text" name="code" required> <button type="submit">Lookup code</button>
    </form>
    <div id="lookupCode-message"></div>
</body>
</html>
