<div>
  <div><.link href="/query-email" class="underline text-blue-400">Get people by email</.link></div>
  <div><.link href="/query-name" class="underline text-blue-400">Get people by name</.link></div>
  <div><.link href="/query-state" class="underline text-blue-400">Get people by state</.link></div>
  <div><.link href="/create-person" class="underline text-blue-400">Create person</.link></div>
</div>
